.watch{
    .watch__details{
        position: relative;
        display:flex;
        justify-content: center;
        img{
            width: 80vw;
            height: auto;
            margin:10px;
        }
        div{
            top: 45px;
            position:absolute;
            background-color: transparent;
            h2{
                background-color: transparent;
                font-size: 45px;
                font-weight: 300;
            }
            
            h4{
                background-color: transparent;
                font-size: 19px;
                font-weight: 100;
            }
        }
    }
    .watch__videos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .watch__video{
            width: 70vw;
            height: auto;
            display: flex;
            margin:auto;
            padding:10px;
            iframe{
                margin:auto;
                width: 60vw;
                height: 40vh;
                padding:10px;
            }

        }
    }
}