.watch{
    
    .watch__videos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .watch__video{
            width: 70vw;
            height: auto;
            display: flex;
            margin:auto;
            padding:10px;
            iframe{
                margin:auto;
                width: 60vw;
                height: 33vw;
                padding:10px;
            }

        }
    }
}