.row{
    h1{
        color:white;
        font-weight: 400;
        padding:10px;
        
    }
    position: relative;
    .row__posters{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        .row__poster{
            img{
                display: block;
                width: 300px;
                padding: 20px;
                height: auto;
            }
            img:hover{
                transform: scale(1.085);
                transition-duration: 0.8s;
                cursor: pointer;
            }
            h3{
                padding: 10px;
    
            }

        }
        
    }


    .row__posters::-webkit-scrollbar{
        display:none
    }
    .movieListNav{ 
        svg{
            height: 62px;
            width: 29px;
            fill: white;
            background-color: transparent;
        }
        .btn{
            position: absolute;
            z-index: 1;
            margin: 12px;
            background-color: rgba($color: #000000, $alpha: 0.7);
            cursor: pointer;
        }
        
        .btn__left{
            left: 0;
            bottom: 113px;
        }
        
        .btn__right{
            right: 0;
            bottom: 113px;

        }

    }
    
}
