.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    .row__poster{
        width: 300px;
        padding: 10px;
    }
    .row__poster:hover{
        transform:  scale(1.06);
        transition-duration: 0.8s;

    }
}

.row__posters::-webkit-scrollbar{
    display:none
}