@use '../../scss//mixin' as *;

.introduction{
    @include backgroundImage;
    display: flex;
    flex-direction: column;
    
    .header{
        display: flex;
        justify-content:space-between
    }
    .sign-up-banner{
        width: 100%;
        height: 50vh;
        margin:auto;
        text-align: center;
        .sign-up-details{
            
            
            h1{
                font-size: 4.25rem;
                margin-bottom: 20px;
            }
            h2{
                font-size: 1.625rem;
                margin-bottom: 20px;
    
            }
            h3{
                font-size:1.325rem;
                margin-bottom: 20px;
    
            }
            form{
                display: flex;
                justify-content:center;
                div{
                    @include inputFormAnimation;
                    margin-left: 10px;
                    input{
            background-color:white;
            min-width: 500px;
                        height: 60px;
                    }
                    button{
                        background-color:red;
                        height: 60px;
                        span{
                            font-size:1.625rem;
                            text-decoration: none;
                            background-color: red;
                        }
                        
                    }
                    
                }
                
                
                
    
            }

        }
    }
}