.search{
    .search__videos{
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        background-color:transparent;

        .search__video{
                a{
                    background-color:transparent;
                    margin:0;
                    padding:0;
                    text-decoration: none;
                img{
                    background-color:transparent;
                    width: 300px;
                    height: auto;
                    padding:10px;
                    margin: 5px;
                }
                h3{ 
                    width: 290px;
                    background-color:transparent;
                    margin:10px;
                    padding: 5px;
                }
                
            }
        }
    }
}
