.header{
    position: relative;
    .navigation{
        display: flex;
        justify-content: space-between;
        position:fixed;
        z-index: 1;
        width: 99vw;
        
        
        form{
            display: flex;
            margin:20px;

            
            input{
                width:250px;
                height: 46px;
                background-color:white;
                color:black;
                font-size: 25px;
                margin:auto;
                align-items: center;
                line-height: 24px;
                padding: 7px 0;
                border-radius: 10px;

            }
            button{
                width: 50px;
                height: 50px;
                margin: auto;
                margin-left: 18px;
                border-radius: 10px;
                svg{
                    height: 33px;
                    width: auto;
                    

                }
            }
            
        }

        .sign-in-btn{
            width: 83px;
            height: 34px;
            margin:20px;
            background-color:red;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            a{
                margin:auto;
                text-decoration: none;
                text-transform: capitalize;
                font-size: 20px;
            }
        }
    }
    @media only screen and (max-width:768px){
        .navigation{
            form{
                input{
                    display: none;
                }

            }
        }
    }
    .slideShow{
        position:relative;
        display:flex;
        justify-content: center;
        .slideShow__img{
            width: 100%;
            height: 80vh;
            img{
                width: 100%;
                height: 80vh;
                object-fit: cover;

            }
        }
        .slideShow__description{
            top: 95px;
            position:absolute;
            
            width: 60vw;
            h2{
                
                font-size: 55px;
                font-weight: 300;
            }
            h4{
                
                font-size: 19px;
                font-weight: 100;
            }
            div{
                margin-top: 20px;
                width: 106px;
                height: 34px;
                background-color: red;
                border-radius: 5px;
                padding: 5px;
                a{
                    text-decoration: none;
                    font-size: 22px;
                }

            }
        }
        
    }
}   
